version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env # Тук трябва да е твоят MONGO_URI
    environment:
      - NODE_ENV=development

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    stdin_open: true # Важно за React
    tty: true
    depends_on:
      - backend
